.App {
    background-color: var(--main-bgcolor);
    min-height: 100vh;
}

.Header {
    width: 100%;
    background-color: #1E1E1F;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1430px;
    margin: 0 auto;
}

.container div {
    display: flex;
    align-items: center;
}

.container img {
    width: 50%;
    padding: 12px 0;
}

.Header__user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Header__user div {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.Header__user p {
    color: #F7F7F7;
    margin-left: 12px;
}
.Avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
}

.Avatar img {
    width: 100%;
}

h1 {
    color: white;
}
